[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = GraphQL based GTFS planned service offer management API
[access "refs/*"]
	owner = group user/cptCloud (cptCloud)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/cptCloud (cptCloud)
	label-Verified = -1..+1 group user/cptCloud (cptCloud)
	push = group user/cptCloud (cptCloud)
	read = group user/cptCloud (cptCloud)
	rebase = group user/cptCloud (cptCloud)
	removeReviewer = group user/cptCloud (cptCloud)
	submit = group user/cptCloud (cptCloud)
[access "refs/heads/*"]
	create = group user/cptCloud (cptCloud)
	push = +force group user/cptCloud (cptCloud)
	pushMerge = group user/cptCloud (cptCloud)
	read = group user/cptCloud (cptCloud)
[access "refs/tags/*"]
	push = group user/cptCloud (cptCloud)
	push = +force group user/cptCloud (cptCloud)
